Pipfile.lock
.idea
__pycache__/
.DS_Store
.conda
venv/
.env
# name of folder for data in project_name/data
ravdess-audio/
# Don't sync the trained models to gihub
saved_models/
# Don't sync the uploaded files to github
uploadedfiles/
logs/
